extends ../layouts/sign

block content
  h5 Create account

  form#register-email(method='post')
    .form-group.input-group-lg
      input.form-control(type='text' placeholder='Firstname' required='' autofocus='' name ='firstName')
    .form-group.input-group-lg
      input.form-control(type='text' placeholder='Lastname' required='' name ='lastName')
    .form-group.input-group-lg
      span#error-message(style='color:red')
      input.form-control(type='email' placeholder='Email' required='' name='email')
    .form-group.input-group-lg
      input.form-control(type='password' placeholder='Password' required='' name='password')
    button.btn.btn-primary.btn-lg.btn-block Register
    hr
    p.text-muted Already have an account?
     #recaptcha-container
    a.btn.btn-outline-light.btn-sm(href='/login') Sign In!
