#addFriends.modal.fade(tabindex='-1' role='dialog' aria-labelledby='exampleModalLabel' aria-hidden='true')
    .modal-dialog.modal-dialog-centered.modal-dialog-zoom(role='document')
      .modal-content
        .modal-header
          h5.modal-title
            i.ti-user
            |  Add Friends
          button.close(type='button' data-dismiss='modal' aria-label='Close')
            i.ti-close
        .modal-body
          .alert.alert-info Send invitations to friends.
          form
            .form-group
              label.col-form-label(for='emails') Email addresses
              input#emails.form-control(type='text' name='email')
            .form-group
              label.col-form-label(for='message' name='message') Invitation message
              textarea#message.form-control
        .modal-footer
          button#add-friend.btn.btn-primary(type='button' name='add-friend') Submit
#requestFriends.modal.fade(tabindex='-1' role='dialog' aria-labelledby='exampleModalLabel' aria-hidden='true')
    .modal-dialog.modal-dialog-centered.modal-dialog-zoom(role='document')
      .modal-content
        .modal-header
          h5.modal-title
            i.ti-user
            |  Friend Request
          button.close(type='button' data-dismiss='modal' aria-label='Close')
            i.ti-close
        .modal-body
          .alert.alert-info Friends need to accept
          ul#friend-list-request(style='list-style-type: none;')
             each friend in friendsRequest
              li.friend-item #{friend.firstName}#{friend.lastName}
              li.friend-item  #{friend.email}
              //- li.friend-item = friend.firstName
              button.btn.btn-success(name='acceptFriend' data-friendId =friend.id) Accept
              button.btn.btn-danger(name='deleteFriend' data-friendId = friend.id) Delete

        .modal-footer
          button#request-friend.btn.btn-primary(type='button' name='request-friend') Submit