doctype html
head
  meta(charset='UTF-8')
  title Chat IO
  link(rel='stylesheet', href='/public/client/css/room.css')
  link(rel='stylesheet prefetch', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css')
a(href='https://github.com/OmarElGabry/chat.io', target='_blank')
  img(style='position: absolute; top: 0; right: 0; border: 0;', src='https://camo.githubusercontent.com/38ef81f8aca64bb9a64448d0d70f1308ef5341ab/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6461726b626c75655f3132313632312e706e67', alt='Fork me on GitHub', data-canonical-src='https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png')
.container.clearfix(style='width: 500px;')
  .controls(style='border: none; width: 100%;')
    a.logout-btn(href='/logout', style='width: auto; padding: 13px; font-size: 12px;') Logout
  .room(style='width: 100%;')
    .room-header.clearfix
      .room-about
        .room-title Rooms
        .room-num-rooms  Room(s)
      i.fa.fa-th-list
    // end room-header
    .room-create.clearfix(style='border-bottom: 2px solid white;')
      input(type='text', name='title', autofocus='', placeholder='Type a new room')
      button Create
    // end room-create
    .room-list
    // end room-list
  // end room
// end container
script(src='http://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js')
script(src='/socket.io/socket.io.js')
script(src='/public/client/js/room.js')
script.
  $(function(){app.rooms()});
