#chats.sidebar.active
          header
            span Chats
            ul.list-inline
              li.list-inline-item(data-toggle='tooltip' title='' data-original-title='New Group')
                a.btn.btn-light#getListFriendtoGroup(href='#' data-toggle='modal' data-target='#newGroup')
                  i.fa.fa-users
              li.list-inline-item
                a.btn.btn-light(data-toggle='tooltip' title='' href='#' data-navigation-target='friends' data-original-title='New Chat')
                  i.ti-comment-alt
              li.list-inline-item.d-lg-none.d-sm-block
                a.btn.btn-light.sidebar-close(href='#')
                  i.ti-close
          form(action='')
            input.form-control(type='text' placeholder='Search chat')
          .sidebar-body(tabindex='3' style='overflow: hidden; outline: none;')
            ul.list-group.list-group-flush
              li.list-group-item
                figure.avatar.avatar-state-success
                  img.rounded-circle(src='dist/images/man_avatar1.jpg')
                .users-list-body
                  h5 Patsy Paulton
                  p Traditional heading elscas sdscsd sdcsdsc
                  .users-list-action
                    .new-message-count 2
              if conversations
                each conversation in conversations
                 if (conversation.userId.length == 2)
                 else 
                 a.conversation(data-href=`/conversations/${conversation._id}` data-id=`${conversation._id}` data-userid = `${ userId }`)
                  li.list-group-item( class= getActiveConversation(`${conversation._id}`))
                   .avatar-group
                     figure.avatar
                      span.avatar-title.bg-warning.bg-success.rounded-circle
                        i.fa.fa-users
                   .users-list-body
                     h5=conversation.groupName
                     p
                        strong #{LastName[0].name}
                        |  #{conversations[0].lastContent}
                     .users-list-action.action-toggle
                      .dropdown
                        a(data-toggle='dropdown' href='#')
                          i.ti-more
                        .dropdown-menu.dropdown-menu-right
                          a.dropdown-item(href='#') Open
                          a.dropdown-item.active(href='#' data-navigation-target='contact-information') Profile
                          a.dropdown-item(href='#') Add to archive
                          a.dropdown-item(href='#') Delete
              li.list-group-item
                .avatar-group
                  figure.avatar
                    span.avatar-title.bg-warning.bg-success.rounded-circle
                      i.fa.fa-users
                .users-list-body
                  h5 Entertainment Group
                  p
                    strong Maher Ruslandi: 
                    | Hello!!!
                  .users-list-action.action-toggle
                    .dropdown
                      a(data-toggle='dropdown' href='#')
                        i.ti-more
                      .dropdown-menu.dropdown-menu-right
                        a.dropdown-item(href='#') Open
                        a.dropdown-item.active(href='#' data-navigation-target='contact-information') Profile
                        a.dropdown-item(href='#') Add to archive
                        a.dropdown-item(href='#') Delete
